.header_container {
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.header_text {
    font-weight:700;
    font-size:1.2rem;
    color:#444444;
    margin-right:.2rem;
}

.header_date {
    color:#999;
    font-size:1rem;
}

.logoHeader {
    width:10rem;
}

@media(max-width:600px) {
    .header_container {
        display:block;
        align-content:unset;
        align-items:unset;
        text-align:center;
    }

    .header_container > div {
        display: none;
    }

    .txtTask {
        text-align:center;
    }
}