.task_container {
    width: 100%;
    padding: 0rem 1rem 0rem 1rem;
    width: calc(100% - 2rem);
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.task_container p {
    word-break: break-word;
    width: calc(100% - 2rem);
    cursor: pointer;
    padding: 1rem 1rem;
    border-bottom: 2px solid #eee;
}

    .task_container p:hover {
        background-color: #f7f7f7;
    }

.chk_container {
    display: flex;
    position: relative;
    padding-left: 1rem;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Create a custom checkbox */
.checkmark {
    position: relative;
    height: 25px;
    width: 25px;
    border-radius: 5px;
    background-color: #eee;
}


/* Hide the browser's default checkbox */
.chk_container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* On mouse-over, add a grey background color */
.chk_container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.chk_container input:checked ~ .checkmark {
    background-color: #0361e4;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.chk_container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.chk_container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.chkTask {
    width: 2rem;
}

.update_task_panel {
    width: calc(100% - 2rem);
    padding: 1rem 1rem;
    background:#f7f7f7;
}

.update_task_panel textarea{
    width:100%;
    height:2rem;
    resize:none;
    border-radius:5px;
    border:1px solid #ccc;
}

    .update_task_panel textarea:focus {
        border: 2px solid #2196F3 !important;
        outline: none;
    }

    .update_task_panel button {
        font-weight:normal;
    }
